body{
  background-color: rgb(29, 153, 236);
}

.App {
  text-align: center;

}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:300px;
  width:300px;
  border:1px solid black;
  padding:10px;
  border-radius: 20px;
  margin-top: 10%;
  background-color: #ffffff;
}

.jokes-page-container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.each-container{
  border: 1px solid black;
  text-align: center;
  align-items: center;
  background-color: rgb(245, 249, 251);
  font-size: 20px;
  font-weight: 550;
  color: black;
  margin:5px;
  border-radius: 10px;
}

.jokes-container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:auto;
  padding: 1.5rem;
  list-style-type: none;
}

.heading{
  color:#0e010a;
  font-weight: 600;
}
